<%= form_with(model: cadastro, local: true) do |form| %>
  <% if cadastro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro.errors.count, "error") %> prohibited this cadastro from being saved:</h2>

      <ul>
      <% cadastro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :url_do_twitter_com_http %>
    <%= form.text_field :url_twitter %>
  </div>

  <div class="actions">
  <input type="submit" name="commit" value="Criar Cadastro" data-disable-with="Criar Cadastro" class='btn btn-dark' />
  <p></p>
  </div>
<% end %>
