<p id="notice"><%= notice %></p>

<h1>Cadastros:</h1>

<table>
  <thead>
    <tr>
      <th>Nome: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Endereço encurtado do twitter: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Informações do twitter:  </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastros.each do |cadastro| %>
      <tr>
        <td><%= cadastro.nome %></td>
        <td><%= cadastro.short_url %></td>
        <td style="width:300px">
          <b>Título:</b> <%= cadastro.twitter_title %><br>
          <b>Nome de usuário do Twitter:</b> <%= cadastro.twitter_user %><br>
          <b>Descrição:</b> <%= cadastro.twitter_description %><br>
        </td>
        <td><%= link_to 'Show', cadastro, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_cadastro_path(cadastro), class:"btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', cadastro, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cadastro', new_cadastro_path, class: 'btn btn-success' %>
