<p id="Joinnotice"><%= notice %></p>
<h1 class="mt-5">Cadastros:</h1>
<p>
  <strong>Nome:</strong>
  <%= @cadastro.nome %>
</p>

<p>
  <strong>Endereço web twitter:</strong>
  <%= @cadastro.url_twitter %>
</p>

<p>
  <strong>Url encurtada:</strong>
  <%= @cadastro.short_url %>
</p>

<p>
  <b>Nome de usuário do Twitter:</b> <%= @cadastro.twitter_user %><br>
  <b>Descrição:</b> <%= @cadastro.twitter_description %><br>
  <b>Título:</b> <%= @cadastro.twitter_title %><br>
</p>

<%= link_to 'Editar', edit_cadastro_path(@cadastro), class: "btn btn-outline-warning" %> |
<%= link_to 'Voltar', cadastros_path, class: 'btn btn-outline-secondary' %>
