<p id="Joinnotice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro.nome %>
</p>

<p>
  <strong>Endereço web twitter:</strong>
  <%= @cadastro.url_twitter %>
</p>

<p>
  <strong>Url encurtada:</strong>
  <%= @cadastro.short_url %>
</p>

<p>
  <b>User:</b> <%= @cadastro.twitter_user %><br>
  <b>Descrition:</b> <%= @cadastro.twitter_description %><br>
  <b>Title:</b> <%= @cadastro.twitter_title %><br>
</p>

<%= link_to 'Editar', edit_cadastro_path(@cadastro) %> |
<%= link_to 'Voltar', cadastros_path %>
