<!DOCTYPE html>
<html>
  <head>
    <title>Teste do Fretadão</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Challenge do Fretadão</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <p> ' ' </p>
        <%= link_to t(".new", default: "Cadastrar"), new_cadastro_path, class: "btn btn-info" %>
        <p> ' ' </p>
        <%= link_to t(".show", default: "Ver cadastros"), cadastros_path, class: "btn btn-primary" %>
      </div>
    </nav>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      </div> <!-- /container -->

    </main>
  </body>
</html>
